table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    tr {
        &.selected {
            background-color: blue;
        }
        th {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            font-weight: bold;
            text-align: left;
        }
        td {
            border-right: 1px solid black;
            cursor: pointer;
        }
    }
}
